<p data-i18n="" class="mb-2 text-gray-200">
    Your colony sourroundings have been fully searched!
</p>
<p data-i18n="" class="mb-2 text-gray-200">
    Your citizens have succesfully discovered the following things:
</p>
<div class="ms-2 text-gray-200">
    <div class="text-gray-200">
        <li class="ms-2 p-0">
            <span class="font-bold">{{campaign_tents}}</span>
            <span data-i18n="" class="">campaign tents</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{stone}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">stone</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{gravel}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">gravel</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{clay}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">clay</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{wooden plank}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">wooden plank</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{wooden plate}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">wooden plate</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{roof tile}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">roof tile</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{brick}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">brick</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{rag}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">rag</span>
        </li>
        <li class="ms-2 p-0">
            <span class="font-bold">{{hay}}</span>
            <span data-i18n="" class="">units of</span>
            <span data-i18n="" class="font-bold">hay</span>
        </li>
    </div>
</div>